body{
	margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}
header{
	padding-bottom: 45px;
    background-color: #000000;
}
.container{
	padding: 30px 30px;
}
.header{
	width: 100%;
    color: #CD2930;
    overflow: hidden;
}
.logo{
	width: 10%;
    float: left;
}
.logo span{
	padding: 10px;
    font-weight: 400;
    font-size: 28px;
}
.menu{
	width: 50%;
    float: right;
}
.menu ul{
	float: right;
}
.menu ul li{
	list-style: none;
    float: left;
}
.menu ul li a{
	margin: 0px 20px;
    font-size: 20px;
    text-decoration: none;
    color: #CD2930;
}
.header1{
	margin: 0 auto;
    padding: 130px 0px;
    width: 50%;
    text-align: center;
    color: #ffffff;
}
.header1 h1{
	font-size: 25px;
    font-weight: 100;
    line-height: 50px;
    letter-spacing: 3px;
}
.header1 span{
	font-size: 60px;
    font-weight: 700;
}
.button{
	padding: 18px 14px;
    width: 40%;
    font-size: 16px;
    color: #FFBCE7;
    background-color: #F1025F;
    border-radius: 40px;
    border-style: none;
}
/*header end*/
/*about me start*/
.about{
	margin: 90px 0px;
}
.aboutme{
	margin: 0 auto;
    width: 60%;
    text-align: center;
}
.aboutme h3{
	font-size: 28px;
    font-weight: normal;
    letter-spacing: 2px;
}
.aboutme p{
	padding: 25px 0px;
    font-size: 18px;
    line-height: 40px;
    color: rgba(0,0,0,0.4);
}
.button1{
	margin: 30px 0px;
    padding: 18px 5px;
    width: 23%;
    font-size: 16px;
    color: #FFBCE7;
    background-color: #F1025F;
    border-radius: 40px;
    border-style: none;
}
/*about me end*/
.mywork{
	margin: 120px 40px;
}
.content{
	margin: 0 auto;
    width: 60%;
    text-align: center;
}
.content h3{
	font-size: 28px;
    font-weight: normal;
    letter-spacing: 2px;
}
.content p{
	padding: 25px 0px;
    font-size: 18px;
    line-height: 40px;
    color: rgba(0,0,0,0.4);
}